/*********** APLICACIÓN ***********/

/*---------- BODY ----------*/
body {
    background-image: url("../img/background.jpg"); /* Photo by Austin Distel on Unsplash: https://unsplash.com/photos/gUIJ0YszPig */
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

/*---------- NAVEGACIÓN ----------*/
.navegacion {
    width: 100%;
    height: 75px;
    background-color: rgba(240, 240, 240, 0.65);
}

/* Contenedor Navegación */
.contenedor-navegacion {
    width: 95%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    color: black;
    font-size: 28px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.logo:hover {
    color: grey;
    text-decoration: none;
}

.logo:focus {
    outline: none;
}

.logo i.icono {
    color: var(--primary);
}

/* Formulario Buscar */
.formulario-buscar {
    height: 40px;
    margin-left: auto;
    margin-right: 8px;
    display: flex;
}

.formulario-buscar input[class^="buscar"] {
    height: 100%;
    margin-right: 10px;
    border-color: whitesmoke;
}

.buscar-nombre,
.buscar-descripcion {
    width: 225px;
}

.buscar-id {
    width: 165px;
}

.buscar-id::-webkit-inner-spin-button,
.buscar-id::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Botón Limpiar */
.boton-limpiar {
    width: 40px;
}

/* Boton: Logout */
.boton-logout {
    width: 40px;
    height: 40px;
    color: orangered;
    border-color: orangered;
    background-color: transparent;
}

.boton-logout:hover {
    color: white;
    text-decoration: none;
    border-color: orangered;
    background-color: orangered;
}

.boton-logout:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 94, 0, 0.5);
}

/*---------- MAIN ----------*/
.main {
    width: 95%;
    max-width: 1280px;
    height: fit-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Formulario*/
.formulario {
    width: 25%;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Formulario Guardar */
.formulario-guardar input[class^="guardar"] {
    margin-bottom: 10px;
}

.guardar-id {
    display: none;
}

.guardar-descripcion {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
}

/* Botón Guardar */
.boton-guardar {
    height: 50px;
    font-size: 25px;
    pointer-events: all;
    opacity: 1;
}

.boton-guardar.edit {
    color: #212529;
    border-color: var(--warning);
    background-color: var(--warning);
}

.boton-guardar.edit:hover {
    border-color: var(--warning-hover);
    background-color: var(--warning-hover);
}

.boton-guardar.edit:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 196, 0, 0.5);
}

/* Formulario Eliminación Múltiple */
.formulario-eliminacion-multiple {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

/* Contador Eliminación Múltiple */
.contador-seleccion {
    width: 80%;
    height: 40px;
    padding: 0 20px;
    color: red;
    border: 1px solid red;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-seleccion span:last-child {
    font-weight: bold;
}

/* Botón Eliminación Múltiple */
.boton-eliminacion-multiple {
    width: 40px;
}

.boton-eliminacion-multiple:disabled {
    color: var(--danger);
    background-color: white;
    opacity: 1;
}

.boton-eliminacion-multiple:disabled:hover {
    color: var(--danger);
    background-color: white;
    border-color: var(--danger);
}

/* Contadores: Resultados de Búsqueda  & Tareas Totales */
.contador-busqueda {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: var(--info);
    border: 1px solid var(--info);
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-totales {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #a1a1a1;
    border: 1px solid #bbbaba;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-busqueda > span,
.contador-totales > span {
    font-weight: bold;
}

/* Formulario: Subir Lista */
.formulario-subir-lista {
    display: flex;
    justify-content: space-between;
}

.campo-subir-lista {
    width: 80%;
}

.campo-subir-lista.active {
    background-color: var(--warning);
}

.campo-subir-lista.active.uploading {
    opacity: 0.5;
    pointer-events: none;
}

.campo-subir-lista.active .file-name {
    color: #212529;
}

/* Botón Subir Lista */
.boton-subir-lista {
    width: 40px;
}

.boton-subir-lista:disabled {
    color: var(--warning);
    background-color: white;
    opacity: 1;
}

.boton-subir-lista:disabled.uploading {
    color: black;
    background-color: var(--warning);
    pointer-events: none;
    opacity: 0.5;
}

.boton-subir-lista:disabled:hover {
    color: var(--warning);
    background-color: white;
    border-color: var(--warning);
}

/* Lista */
.lista {
    width: 72.5%;
    height: fit-content;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Encabezados & Contenido de Tarjetas */
.lista .encabezado,
.lista .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.encabezado.seleccionar,
.contenido.seleccionar {
    width: 5%;
    justify-content: left;
}

.encabezado.id,
.contenido.id {
    width: 10%;
}

.encabezado.name,
.contenido.name {
    width: 20%;
}

.encabezado.description,
.contenido.description {
    width: 30%;
}

.encabezado.date,
.contenido.date {
    width: 25%;
    text-transform: capitalize;
}

.encabezado.actions,
.contenido.actions {
    width: 10%;
    text-align: center;
}

.contenido.actions {
    padding: 0 10px;
    justify-content: space-between;
}

/* Encabezados */
.encabezados {
    height: 70px;
    padding: 0 25px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.encabezados .encabezado {
    height: calc(1rem * 2);
}

.encabezados .encabezado[class~="ascendente"]::before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid var(--success);
    position: absolute;
    top: -10px;
}

.encabezados .encabezado[class~="descendente"]::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--success);
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 100%;
}

.encabezados .encabezado.id {
    font-size: large;
    font-weight: 800;
}

.encabezados a.active {
    color: var(--success);
}

.encabezados a {
    color: var(--primary);
    text-decoration: none;
}

.encabezados a:hover {
    color: grey;
    text-decoration: none;
}

.encabezados a:focus {
    outline: none;
}

/* Tareas */
.tareas {
    height: 100%;
    min-height: calc((70px * 7) - 5px);
    max-height: calc((70px * 7) - 5px);
    margin-top: 8px;
    word-wrap: break-word;
    overflow: auto;
    scroll-behavior: smooth;
}

.tareas.bg-happy-cup {
    background: url("../img/happy-cup.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

.tareas.bg-green-tea {
    background: url("../img/green-tea.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

/* Scrollbar */
.tareas::-webkit-scrollbar {
    display: none;
    background: transparent;
    width: 5px;
}

.tareas::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 2.5px;
}

.tareas::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}

.tareas::-webkit-scrollbar-track {
    border-radius: 2.5px;
}

/* Tarjetas */
.tarjeta {
    height: 65px;
    padding: 0 25px;
    margin-bottom: 5px;
    font-size: 1rem;
    text-align: center;
    background-color: white;
    border: thin solid #dddddd;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    transition: border 0.25s ease, background-color 0.25s ease;
}

.tarjeta:last-child {
    margin-bottom: 0;
}

.tarjeta .contenido.id {
    color: grey;
    font-weight: bold;
}

.tarjeta.select {
    background-color: #f5f5f5;
    transition: all 0.05s ease;
}

.tarjeta.edit,
.tarjeta.select.edit {
    background-color: rgba(255, 217, 0, 0.05);
    border: thin solid rgba(255, 217, 0, 0.85);
    transition: all 0.45s ease;
}

/* Checkboxes de Tarjetas */
.tarjeta .checkbox + label.custom-checkbox:before {
    border: thin solid rgb(200, 200, 200);
}

.tarjeta .checkbox:checked + label.custom-checkbox:before {
    background-color: rgb(200, 200, 200);
}

/* Botones Editar & Eliminar */
.button-edit,
.button-delete {
    color: transparent;
    text-decoration: none;
    transform: scale(0.5);
    transition: all 0.3s ease;
}

.button-edit:hover,
.button-delete:hover {
    text-decoration: none;
}

.button-edit:focus,
.button-delete:focus {
    outline: none;
}

/* Tarjeta Hover */
.tarjeta:hover .button-delete {
    color: var(--danger);
    transform: scale(1.2);
    transition: all 0.25s ease;
}

.tarjeta:hover .button-edit {
    color: var(--warning);
    transform: scale(1.2);
    transition: all 0.25s ease;
}

/* Tarjeta Final */
.tarjeta-final {
    padding: 20px 0;
    color: grey;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25rem;
}

/* Botón Mostrar */
.boton-mostrar {
    height: 55px;
    color: grey;
    font-size: 20px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    pointer-events: none;
}

.boton-mostrar.active {
    pointer-events: all;
}

.boton-mostrar:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.boton-mostrar:focus {
    box-shadow: none;
}

/* Notificación */
.notificacion {
    width: calc(100% - 50px);
    height: 70px;
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: var(--info);
    border: 1px solid var(--info);
    border-radius: 0.25rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.notificacion.success {
    color: white;
    background-color: var(--success);
    border: 1px solid var(--success);
}

.notificacion.warning {
    color: rgb(50, 50, 50);
    background-color: var(--warning);
    border: 1px solid var(--warning);
}

.notificacion.danger {
    color: white;
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

/* Botón Subir */
.boton-inicio-lista {
    width: 55px;
    height: 55px;
    color: black;
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.35);
    border: 1px solid transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    bottom: 35px;
    transition: all 0.35s ease;
}

.boton-inicio-lista:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.75);
}

.boton-inicio-lista:focus {
    outline: none;
}

/* Formulario Eliminar */
.formulario-eliminar {
    display: flex;
    justify-content: flex-end;
}

/* Icono Botón Eliminar */
.formulario-eliminar .boton-eliminar i.icono {
    margin-right: 5px;
    font-size: medium;
}
