/*********** APLICACIÓN ***********/

/*---------- VARIABLES ----------*/
:root {
    --light-grey: #dddddd;
}

/*---------- BODY ----------*/
body {
    background-image: url("../img/background.jpg"); /* Photo by Austin Distel on Unsplash */
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

/*---------- ELEMENTOS PERSONALIZADOS ----------*/
/* Checkbox Personalizado */
.checkbox {
    display: none;
}

.checkbox + label {
    width: 17px;
    height: 17px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox + label:before {
    content: "";
    height: 17px;
    width: 17px;
    background-color: white;
    border: thin solid var(--primary);
    border-radius: 0.25rem;
    display: block;
    position: absolute;
}

.checkbox:checked + label:before {
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}

/* Input File Personalizado */
.file {
    display: none;
}

.file + label {
    height: 40px;
    margin: 0;
    padding: 0 20px;
    color: var(--warning);
    border: 1px solid var(--warning);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.35s ease;
}

.file + label .file-name {
    max-height: calc(1rem * 1.5); /* Valor del "line-height" */
    overflow: hidden;
}

/* Botones Personalizados */
.boton {
    padding: 5px;
    color: white;
    background-color: var(--success);
    border: 1px solid var(--success);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease;
}

.boton:hover {
    background-color: darkgreen;
}

.boton:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.boton .icono {
    font-size: 18px;
}

/* Overlay */
.overlay {
    background-color: rgba(15, 15, 15, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.35s ease;
}

.overlay.active {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

/* Alertas Personalizadas */
.alerta {
    width: 400px;
    height: 195px;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.alerta.active {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: scale(1);
}

.cabecera-alerta {
    height: fit-content;
    line-height: 1;
    text-align: right;
}

.cabecera-alerta .cerrar-alerta {
    padding: 0;
    color: #bdbdbd;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: hidden;
    pointer-events: all;
    opacity: 1;
    transition: all 0.25s ease;
}

.cabecera-alerta .cerrar-alerta:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.cabecera-alerta .cerrar-alerta:focus {
    outline: none;
}

.cabecera-alerta .cerrar-alerta:hover {
    color: #a0a0a0;
    text-decoration: none;
}

.cuerpo-alerta {
    height: 100%;
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-alerta {
    height: fit-content;
    text-align: right;
}

/*---------- NAVEGACIÓN ----------*/
.navegacion {
    width: 100%;
    height: 75px;
    background-color: rgba(240, 240, 240, 0.75);
}

/* Contenedor Navegación */
.contenedor-navegacion {
    width: 95%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: x-large;
    color: black;
}

.logo:hover {
    font-size: x-large;
    color: grey;
    text-decoration: none;
}

.logo .icono {
    color: var(--primary);
}

/* Contenedor Buscar */
.contenedor-buscar {
    height: 40px;
    display: flex;
}

/* Formulario Buscar */
.formulario-buscar {
    height: 100%;
    display: flex;
}

.formulario-buscar input[class^="buscar"] {
    height: 100%;
    margin-right: 10px;
    border-color: white;
}

.buscar-id {
    max-width: 175px;
}

.buscar-id::-webkit-inner-spin-button,
.buscar-id::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Botón Limpiar */
.boton-limpiar {
    width: 40px;
    height: 100%;
    border-color: var(--primary);
    background-color: var(--primary);
    pointer-events: all;
    opacity: 1;
}

.boton-limpiar:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.boton-limpiar:hover {
    background-color: #0064cf;
}

.boton-limpiar:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 132, 255, 0.5);
}

/*---------- MAIN ----------*/
.main {
    width: 95%;
    max-width: 1280px;
    height: fit-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Formulario*/
.formulario {
    width: 25%;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Formulario Guardar */
.formulario-guardar input[class^="guardar"] {
    margin-bottom: 10px;
}

.guardar-id {
    display: none;
}

.guardar-descripcion {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    margin-bottom: 10px;
}

/* Botón Guardar */
.boton-guardar {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    font-size: x-large;
    transition: all 0.45s ease;
    pointer-events: all;
    opacity: 1;
}

.boton-guardar:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.boton-guardar.edit {
    color: #212529;
    border-color: var(--warning);
    background-color: var(--warning);
}

.boton-guardar.edit:hover {
    background-color: goldenrod;
}

.boton-guardar.edit:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 196, 0, 0.5);
}

/* Formulario Eliminación Múltiple */
.formulario-eliminacion-multiple {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

/* Contador Eliminación Múltiple */
.contador-seleccion {
    width: 80%;
    height: 40px;
    padding: 0 20px;
    color: red;
    border: 1px solid red;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-seleccion span:last-child {
    font-weight: bold;
}

/* Botón Eliminación Múltiple */
.boton-eliminacion-multiple {
    width: 40px;
    color: white;
    background-color: red;
    border-color: red;
    pointer-events: all;
}

.boton-eliminacion-multiple:disabled {
    color: red;
    background-color: white;
    pointer-events: none;
}

.boton-eliminacion-multiple:hover {
    background-color: #c80000;
}

.boton-eliminacion-multiple:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 42, 9, 0.5);
}

/* Contador: Resultados de Búsqueda */
.contador-busqueda {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: var(--info);
    border: 1px solid var(--info);
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contador: Tareas Totales */
.contador-totales {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #a1a1a1;
    border: 1px solid #bbbaba;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Formulario: Subir Lista */
.formulario-subir-lista {
    display: flex;
    justify-content: space-between;
}

.campo-subir-lista {
    width: 80%;
}

.campo-subir-lista.active {
    color: #212529;
    background-color: var(--warning);
}

.campo-subir-lista.active.upload {
    opacity: 0.5;
    pointer-events: none;
}

/* Botón Subir Lista */
.boton-subir-lista {
    width: 40px;
    color: black;
    background-color: var(--warning);
    border-color: var(--warning);
    pointer-events: all;
}

.boton-subir-lista:disabled {
    color: var(--warning);
    background-color: white;
    pointer-events: none;
}

.boton-subir-lista.upload {
    opacity: 0.5;
    pointer-events: none;
}

.boton-subir-lista:hover {
    background-color: goldenrod;
}

.boton-subir-lista:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 196, 0, 0.5);
}

/* Lista */
.lista {
    width: 72.5%;
    height: fit-content;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Encabezados & Contenido de Tarjetas */
.lista .encabezado,
.lista .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.encabezado.seleccionar,
.contenido.seleccionar {
    width: 5%;
    justify-content: left;
}

.encabezado.id,
.contenido.id {
    width: 10%;
}

.encabezado.name,
.contenido.name {
    width: 20%;
}

.encabezado.description,
.contenido.description {
    width: 30%;
}

.encabezado.date,
.contenido.date {
    width: 25%;
    text-transform: capitalize;
}

.encabezado.actions,
.contenido.actions {
    width: 10%;
    justify-content: space-around;
}

/* Encabezados */
.encabezados {
    height: 70px;
    padding: 0 25px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.encabezados .encabezado {
    height: calc(1rem * 2);
}

.encabezados .encabezado[class~="ascendente"]::before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid var(--success);
    position: absolute;
    top: -10px;
}

.encabezados .encabezado[class~="descendente"]::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--success);
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 100%;
}

.encabezados .encabezado.id {
    font-size: large;
    font-weight: 800;
}

.encabezados a.active {
    color: var(--success);
}

.encabezados a:hover {
    text-decoration: none;
    color: grey;
}

/* Tareas */
.tareas {
    height: 100%;
    min-height: calc((70px * 7) - 5px);
    max-height: calc((70px * 7) - 5px);
    margin-top: 8px;
    word-wrap: break-word;
    overflow: auto;
    scroll-behavior: smooth;
}

.tareas.bg-happy-cup {
    background: url("../img/happy-cup.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

.tareas.bg-green-tea {
    background: url("../img/green-tea.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

/* Scrollbar */
.tareas::-webkit-scrollbar {
    display: none;
    background: transparent;
    width: 5px;
}

.tareas::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 2.5px;
}

.tareas::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}

.tareas::-webkit-scrollbar-track {
    border-radius: 2.5px;
}

/* Tarjetas */
.tarjeta {
    height: 65px;
    padding: 0 25px;
    margin-bottom: 5px;
    font-size: 1rem;
    text-align: center;
    border: thin solid #dddddd;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    transition: all 0.25s ease;
}

.tarjeta.select {   
    background-color: #f5f5f5;
    transition: all 0.1s ease;
}

.tarjeta.edit,
.tarjeta.select.edit {
    background-color: rgba(255, 217, 0, 0.05);
    border: thin solid rgba(255, 217, 0, 0.85);
    transition: all 0.45s ease;
}

.tarjeta:hover .button-delete {
    color: var(--danger);
    transform: scale(1.2);
    transition: all 0.25s ease;
}

.tarjeta:hover .button-edit {
    color: var(--warning);
    transform: scale(1.2);
    transition: all 0.25s ease;
}

/* Checkboxes de Eliminación */
.tarjeta .checkbox + .check-delete::before {
    border: thin solid rgb(200, 200, 200);
}

.tarjeta .checkbox:checked + .check-delete::before {
    background-color: rgb(200, 200, 200);
}

.tarjeta .id {
    color: grey;
    font-weight: bold;
}

.tarjeta:last-child {
    margin-bottom: 0;
}

/* Botones Editar & Eliminar */
.button-edit,
.button-delete {
    color: transparent;
    transform: scale(0.5);
    transition: all 0.25s ease;
}

.button-edit:hover {
    text-decoration: none;
    color: var(--warning);
}

.button-delete:hover {
    text-decoration: none;
    color: var(--danger);
}

/* Tarjeta Final */
.tarjeta-final {
    color: grey;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25rem;
}

/* Botón Mostrar */
.boton-mostrar {
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
    color: grey;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    pointer-events: none;
}

.boton-mostrar.active {
    pointer-events: all;
}

.boton-mostrar:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.boton-mostrar:focus {
    box-shadow: 0 0 0 0 transparent;
}

/* Mensaje */
.notificacion {
    height: 70px;
    padding: 0 25px;
    color: #036803;
    font-size: medium;
    text-align: center;
    background-color: #e7f7e7;
    border: 1px solid #64ac64;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    left: 25px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -25px);
    transition: all 0.5s ease;
}

.notificacion.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

/* Botón Subir */
.boton-subir {
    width: 55px;
    height: 55px;
    color: black;
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.35);
    border: 1px solid transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    bottom: 35px;
    transition: all 0.35s ease;
}

.boton-subir:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.75);
}

/* Formulario Eliminar */
.formulario-eliminar {
    display: flex;
    justify-content: flex-end;
}

/* Botón Eliminar & Botón Cancelar */
.formulario-eliminar .boton-eliminar,
.formulario-eliminar .boton-cancelar {
    line-height: 1;
    height: 38px;
    padding: 0 10px;
    pointer-events: all;
    opacity: 1;
}

.formulario-eliminar .boton-eliminar {
    margin-right: 8px;
    color: red;
    background-color: white;
    border-color: red;
}

.formulario-eliminar .boton-eliminar:disabled,
.formulario-eliminar .boton-cancelar:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.formulario-eliminar .boton-eliminar:hover {
    color: white;
    background-color: red;
}

.formulario-eliminar .boton-eliminar:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 42, 9, 0.5);
}

.formulario-eliminar .boton-eliminar .icono {
    margin-right: 5px;
    font-size: medium;
}
