/*********** ESTILOS DE APLICACIÓN ***********/

/* -------------------------------------------------- VARIABLES */

:root {
    /*----------------------------- Propiedades Para Tabla */
    --table-border-color: rgba(255, 255, 255, 0.75);
    --table-background-color: rgba(255, 255, 255, 0.1);
    --table-border-radius: 0.25rem;
    
    /*----------------------------- Medidas Para Encabezados */
    --headers-height: 70px;
    
    /*----------------------------- Medidas Para Tarjetas */
    --card-height: 65px;
    --card-margin-bottom: 8px;
    --cards-number: 7;
}

/* -------------------------------------------------- BODY */
body {    
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

/* -------------------------------------------------- NAV BAR */
.navegacion {
    width: 100%;
    margin: 25px 0;
}

.navegacion .contenedor {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------- LOGO */
.logo {
    color: black;
    font-size: 28px;
    text-decoration: none;
    transition: color 0.25s ease;
}

.logo:hover {
    color: var(--secondary);
}

.logo:focus {
    outline: none;
}

.logo .icono {
    color: var(--primary);
}

/* -------------------------------------------------- SEARCH FORM */
form.search-form {
    height: 40px;
    width: 72.5%;
    display: flex;
    justify-content: right;
}

/* ------------------------------ Search Inputs */
input[class^="search"] {
    height: 100%;
    margin-right: 10px;
    border-color: white;
    width: 20%;
}

input[class^="search"]:focus {
    box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.15);
    border-color: #bbd6f3;
}

input[class^="search"][type="number"]::-webkit-inner-spin-button,
input[class^="search"][type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* ------------------------------ Clean Filters Button */
button.clean-filters-button {
    width: 40px;
}

/* -------------------------------------------------- Boton Logout */
.boton-logout {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    color: white;
    border-color: orangered;
    background-color: orangered;
    text-decoration: none;
}

.boton-logout:hover {
    color: orangered;
    border-color: white;
    background-color: white;
}

.boton-logout:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 94, 0, 0.5);
}

/* -------------------------------------------------- Main */
main {
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------------- Formulario Guardar & Contadores */
.formulario-y-contadores {
    width: 25%;
    padding: 25px;
    background-color: white;
    border: 1px solid var(--light-extra-smooth);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* -------------------------------------------------- SAVE FORM */
form.save-form {
    height: 60%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------ Form Groups */
form.save-form .form-group {
    margin-bottom: 8px;
}

/* ------------------------------ Input Labels */
form.save-form label {
    color: var(--secondary);
    font-weight: 500;
}

/* ------------------------------ Save Button */
button.save-button {
    height: 60px;
    margin-top: auto;
    font-size: 30px;
    transition: color 0.4s ease, background-color 0.4s ease,
        border-color 0.4s ease;
}

button.save-button.warning {
    color: var(--dark-smooth);
}

/* -------------------------------------------------- MULTIPLE DELETE FORM */
form.multiple-delete-form {
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

/* ------------------------------ Selection Radios Container */
div.selection-radios {
    width: 80%;
    color: var(--danger);
    border: 1px solid var(--danger);
    border-radius: 0.25em;
    display: flex;
    align-items: center;
}

/* ------------------------------ Radio Groups */
.selection-radios .radio-group {
    height: 100%;
    width: 50%;
}

/* ------------------------------ Middle Line */
.selection-radios .middle-line {
    font-size: 20px;
    height: fit-content;
    width: fit-content;
}

/* ------------------------------ Radios */
.selection-radios .radio-group input[type="radio"] {
    display: none;
}

/* ------------------------------ Labels */
.selection-radios .radio-group input[type="radio"] + label {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-style: oblique;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selection-radios .radio-group input[type="radio"]:checked + label {
    font-style: normal;
    color: var(--danger);
}

/* ------------------------------ Counters */
.selection-radios .radio-group input[type="radio"]:checked + label span.selection-counter {
    font-weight: bold;
}

/* ------------------------------ Multiple Delete Button */
.multiple-delete-button {
    width: 40px;
}

.multiple-delete-button:disabled {
    color: var(--danger);
    background-color: white;
    opacity: 1;
}

.multiple-delete-button:disabled:hover {
    color: var(--danger);
    background-color: white;
    border-color: var(--danger);
}

/* -------------------------------------------------- Contador Búsqueda */
.contador-busqueda {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: var(--info);
    border: 1px solid var(--info);
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-busqueda span {
    color: var(--secondary);
}

/* -------------------------------------------------- Contador Totales */
.contador-totales {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contador-totales span {
    color: var(--secondary);
}

/* -------------------------------------------------- Formulario Subir Lista */
#form-upload-list {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------------- Campo Subir Lista */
#field-upload-list {
    width: 80%;
    transition: background-color 0.25s ease, border-color 0.25s ease;
}

#field-upload-list:hover {
    font-style: italic;
}

#field-upload-list.active {
    color: var(--dark);
    background-color: var(--warning);
}

#field-upload-list.active.uploading {
    opacity: 0.5;
    pointer-events: none;
}

/* -------------------------------------------------- Botón Subir Lista */
#button-upload-list {
    width: 40px;
}

#button-upload-list:disabled,
#button-upload-list:disabled:hover {
    color: var(--warning);
    background-color: transparent;
    border-color: var(--warning);
    opacity: 1;
}

#button-upload-list:disabled.uploading {
    color: var(--dark);
    background-color: var(--warning);
    pointer-events: none;
    opacity: 0.5;
}

/* -------------------------------------------------- Lista */
.lista {
    width: 72.5%;
    height: fit-content;
    padding: 25px;
    background-color: var(--table-background-color);
    border: 1px solid var(--table-border-color);
    border-right: none;
    border-radius: var(--table-border-radius);
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------- HEADERS */
nav.headers {
    color: var(--primary);
    height: var(--headers-height);
    padding: 0 25px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(0, 102, 255, 0.85);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}

nav.headers ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
/* ------------------------------ Header */
li.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

li.header.display-none {
    display: none;
}

li.header.headers-checkbox {
    width: 5%;
    justify-content: left;
}

li.header.headers-checkbox input[type="checkbox"].custom-checkbox.minus:checked + label.custom-label:before {
    content: "\f068"; /* Icon: "minus" */
    color: var(--primary);
    background-color: transparent;
}

li.header.id-header {
    width: 10%;
    font-weight: 800;
}

li.header.name-header {
    width: 20%;
}

li.header.description-header {
    width: 30%;
}

li.header.price-header {
    width: 30%;
}

li.header.created-header {
    width: 25%;
}

li.header.actions-header {
    width: 10%;
}

/* ------------------------------ Header Links */
li.header a.header-link {
    color: var(--primary);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* ------------------------------ Header Link Events */
li.header a.header-link.active {
    color: var(--success);
}

li.header a.header-link:hover {
    color: var(--primary-hover);
    text-decoration: none;
}

li.header a.header-link:focus {
    outline: none;
}

/* ------------------------------ Sort Indicator */
a.header-link[class~="ascendente"]::before {
    content: "";
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid var(--success);
    position: absolute;
    top: -15px;
}

a.header-link[class~="descendente"]::after {
    content: "";
    border-right: 5px solid transparent;
    border-top: 5px solid var(--success);
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    bottom: -15px;
}

a.header-link:hover::before {
    border-bottom: 5px solid var(--primary-hover);
}

a.header-link:hover::after {
    border-top: 5px solid var(--primary-hover);
}

/* -------------------------------------------------- CARDS */
div.cards {
    min-height: calc((var(--card-height) * var(--cards-number)) + (var(--card-margin-bottom) * (var(--cards-number) - 1)));
    max-height: calc((var(--card-height) * var(--cards-number)) + (var(--card-margin-bottom) * (var(--cards-number) - 1)));
    word-wrap: break-word;
    overflow: auto;
    scroll-behavior: smooth;
}

/* ------------------------------ Backgrounds */
div.cards.bg-happy-cup {
    background: url("../img/happy-cup.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

div.cards.bg-green-tea {
    background: url("../img/green-tea.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

/* ------------------------------ Scrollbar  */
div.cards::-webkit-scrollbar {
    display: none;
}

/* ------------------------------ Card  */
div.card {
    height: var(--card-height);
    padding: 0 25px;
    margin-bottom: var(--card-margin-bottom);
    border: 2px solid white;
    border-radius: 0.25rem;
    background-color: white;
    display: flex;
    align-items: center;
    transition: color 0.4s ease, border 0.4s ease, background 0.4s ease,
        transform 0.4s ease;
}

div.card:last-child {
    margin-bottom: 0;
}

/* ------------------------------ Card Content */
div.card-content {
    font-family: 'HK Grotesk', 'Segoe UI';
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card-content.card-checkbox {
    width: 5%;
    justify-content: left;
}

div.card-content.card-checkbox input[type="checkbox"].custom-checkbox + label.custom-label:before {
    border-color: var(--light);
}

div.card-content.card-checkbox input[type="checkbox"].custom-checkbox:checked + label.custom-label:before {
    background-color: var(--light);
}

div.card-content.id-content {
    width: 10%;
    font-weight: 700;
}

div.card-content.name-content {
    width: 20%;
}

div.card-content.description-content {
    width: 30%;
}

div.card-content.price-content {
    width: 30%;
    color: var(--secondary);
    font-weight: 600;
}

div.card-content.created-content {
    color: var(--secondary);
    font-weight: 400;
    width: 25%;
    text-transform: capitalize;
}

div.card-content.card-actions {
    width: 10%;
    justify-content: space-around;
}

/* ------------------------------ Card Buttons */
.card a.boton-editar,
.card a.boton-eliminar {
    color: transparent;
    text-decoration: none;
    transform: scale(0.35);
    transition: color 0.15s ease, transform 0.15s ease;
}

.card a.boton-editar:focus,
.card a.boton-eliminar:focus {
    outline: none;
}

.card a.boton-editar i.fas,
.card a.boton-eliminar i.fas {
    pointer-events: none;
}

/* ------------------------------ Card States */
div.card.select {
    color: white;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

div.card.select .card-content.id-content,
div.card.select .card-content.created-content {
    color: whitesmoke;
}

div.card.edit {
    color: black;
    border-color: var(--warning);
    background-color: var(--warning);
    transition: color 0.45s ease, border-color 0.45s ease,
        background-color 0.45s ease, transform 0.45s ease;
}

div.card.edit .card-content.id-content,
div.card.edit .card-content.created-content {
    color: var(--dark-smooth);
}

div.card.edit.select {
    color: var(--dark);
    background-color: var(--warning);
    border-color: var(--dark);
}

div.card.edit.select .card-content.id-content,
div.card.edit.select .card-content.created-content {
    color: var(--dark-smooth);
}

div.card.select div.card-checkbox input[type="checkbox"].custom-checkbox + label.custom-label:before,
div.card.edit div.card-checkbox input[type="checkbox"].custom-checkbox + label.custom-label:before {
    content: "\f067"; /* fas fa-plus */
    border-color: transparent;
    background-color: transparent;
    transform: scale(1.5);
}

div.card.select div.card-checkbox input[type="checkbox"].custom-checkbox:checked + label.custom-label:before,
div.card.edit div.card-checkbox input[type="checkbox"].custom-checkbox:checked + label.custom-label:before {
    content: "\f00c"; /* fas fa-check */
}

div.card.select.edit div.card-checkbox input[type="checkbox"].custom-checkbox + label.custom-label:before {
    color: var(--dark);
}

/* -------------------------------------------------- Tarjeta Hover: Botones Editar & Eliminar */
.card:hover {
    transform: translateY(-2.5px);
}

.card:hover .boton-eliminar {
    color: var(--danger);
    transform: scale(1.2);
}

.card:hover .boton-editar {
    color: var(--warning);
    transform: scale(1.2);
}

.card.select:hover .boton-eliminar,
.card.select:hover .boton-editar {
    color: white;
}

.card.edit:hover .boton-eliminar,
.card.edit:hover .boton-editar {
    color: var(--dark-smooth);
}

/* -------------------------------------------------- Tarjeta Final */
.final-card {
    height: 65px;
    color: white;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-card .flag-center {
    margin: 0 3px;
}

/* -------------------------------------------------- Botón Mostrar Más Tarjetas */
.boton-mostrar {
    height: 65px;
    color: white;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    pointer-events: none;
}

.boton-mostrar.active {
    pointer-events: all;
}

.boton-mostrar:hover {
    color: var(--dark-smooth);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.boton-mostrar:focus {
    box-shadow: none;
}


/* -------------------------------------------------- TABS */
nav.table-tabs {
    height: 100%;
    position: absolute;
    left: 100%;
}

nav.table-tabs ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav.table-tabs li {
    display: flex;
    width: fit-content;
}

/* ------------------------------ Tab */
a.table-tab {
    font-family: 'Molly Lips';
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    color: transparent;
    writing-mode: vertical-lr;
    border: 1px solid var(--table-border-color);
    background-color: rgba(255, 255, 255, 0.35);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.65rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-in-out;
}

a.table-tab span.tab-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}

/* ------------------------------ Tab Icon */
a.table-tab:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold; /* Nesesario para Font Awesome */
    font-size: 15px;
    color: white;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: color .7s ease-in-out;
}

a.table-tab#tasks-tab:after {
    content: "\f0ae"; /* Icon: "tasks" */
}

a.table-tab#products-tab:after {
    content: "\f5d1"; /* Icon: "apple" */
}

a.table-tab#customers-tab:after {
    content: "\f0c0"; /* Icon: "users" */
}
/* ------------------------------ Extra Tab Border  */
a.table-tab:before {
    content: "";
    width: 100%;
    min-height: 10px;
    position: absolute;
    top: calc(100% + 1px);
    left: calc(0% - 1px);
    display: flex;
    box-sizing: border-box;
    border-left: 1px solid var(--table-border-color);
    pointer-events: none;
}

/* ------------------------------ Tab Events */
a.table-tab.active {
    color: white;
    width: 45px;
    height: 150px;
    background-color: var(--table-background-color);
    border-left-color: transparent;
    transition: all .35s ease-in-out, border .15s ease-in-out;
}

a.table-tab.active:after {
    color: transparent;
    transform: scale(.35);
    transition: all .3s ease;
}

/* ------------------------------ Complementary Border Of Tabs */
nav.table-tabs li.complementary-border {
    height: 100%;
    width: 10px;
    overflow: hidden;
    border-right: 1px solid var(--table-border-color);
    border-bottom-right-radius: var(--table-border-radius);
    display: flex;
    left: calc(0% - 9px);
    pointer-events: none;
}

/* -------------------------------------------------- TABLE NAME */
div.table-title {
    color: white;
    position: absolute;
    text-transform: capitalize;
    left: 100%;
    padding-bottom: 30px;
    top: calc(100% - 250px);
    height: 250px;
    width: 50px;
    font-size: 35px;
    font-weight: bold;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* -------------------------------------------------- NOTIFICATIONS */
.notificacion {
    width: calc(100% - 50px);
    height: var(--headers-height);
    color: white;
    font-weight: bold;
    background-color: var(--info);
    border: 1px solid var(--info);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.notificacion.success {
    background-color: var(--success);
    border-color: var(--success);
}

.notificacion.warning {
    color: var(--dark-smooth);
    background-color: var(--warning);
    border-color: var(--warning);
}

.notificacion.danger {
    background-color: var(--danger);
    border-color: var(--danger);
}

.notificacion.info {
    background-color: var(--info);
    border-color: var(--info);
}

/* -------------------------------------------------- Botón Inicio Lista */
.boton-inicio-lista {
    width: 55px;
    height: 55px;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: all 0.35s ease;
    z-index: 10;
}

.boton-inicio-lista:hover {
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(50, 50, 50, 0.95);
}

.boton-inicio-lista:focus {
    outline: none;
}

/* -------------------------------------------------- Cantidad Eliminar */
.cuerpo-modal .cantidad-eliminar {
    padding: 0 1px;
    font-size: large;
    line-height: 1.125;
    border-bottom: 1px solid var(--danger);
    display: inline-block;
}

/* -------------------------------------------------- Formulario Eliminar */
.formulario-eliminar {
    display: flex;
    justify-content: flex-end;
}

/* -------------------------------------------------- Formulario Eliminar: Botón Eliminar & Cancelar */
.formulario-eliminar .boton-eliminar,
.formulario-eliminar .boton-cancelar {
    width: auto;
    height: 38px;
    padding: 0 10px;
    font-size: medium;
    line-height: 1.5;
}

.formulario-eliminar .boton-eliminar {
    margin-right: 10px;
    color: var(--danger);
    background-color: white;
}

.formulario-eliminar .boton-eliminar:hover {
    color: white;
    background-color: var(--danger);
}

.formulario-eliminar .boton-eliminar .icono {
    margin-right: 5px;
    font-size: medium;
}
