/*---------- VARIABLES ----------*/
:root {
    --success: rgb(10, 150, 0);
    --success-hover: rgb(10, 125, 0);
    --warning: rgb(250, 212, 0);
    --warning-hover: rgb(230, 170, 19);
    --danger: rgb(245, 0, 0);
    --danger-hover: rgb(230, 0, 0);
    --primary: rgb(0, 102, 255);
    --primary-hover: rgb(0, 60, 224);
    --secondary: grey;
    --secondary-hover: rgb(100, 100, 100);
    --info: rgb(0, 132, 255);
    --light: #eeeeee;
    --light-grey: rgb(220, 220, 220);
}

/*---------- ELEMENTOS ----------*/
body,
input,
button,
textarea {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

body,
figure,
h1 {
    margin: 0;
}

button {
    padding: 0;
}

a,
div,
input,
form,
button,
figure,
textarea,
label,
label:before {
    box-sizing: border-box;
}

a:hover,
button:hover {
    cursor: pointer;
}

a:focus {
    outline: 1px dotted rgb(25, 25, 25);
}

/*---------- ELEMENTOS PERSONALIZADOS ----------*/

/* Campos de Formulario Personalizados */
.form-field {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 1;
    color: rgb(100, 100, 100);
    background-color: white;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease, box-shadow 0.15s ease;
}

textarea.form-field {
    height: auto;
    padding: 13px 15px;
}

.form-field:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Checkbox Personalizado */
.checkbox {
    display: none;
}

.checkbox + .custom-checkbox {
    width: 18px;
    height: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox + .custom-checkbox:before {
    content: "";
    font-family: 'Font Awesome 5 Free';
    color: white;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    height: 18px;
    width: 18px;
    background-color: white;
    border: thin solid var(--primary);
    border-radius: 0.25rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:checked + .custom-checkbox:before {
    content: "\f00c";
    background-color: var(--primary);
}

/* Input File Personalizado */
input[type="file"].file {
    display: none;
}

input[type="file"].file + label.custom-file {
    height: 40px;
    padding: 0 20px;
    color: var(--warning);
    border: 1px solid var(--warning);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.25s ease, border-color 0.25s ease;
}

input[type="file"].file + label.custom-file span.file-name {
    line-height: 1.5;
    max-height: calc(1rem * 1.5); /* Valor del "line-height" */
    overflow: hidden;
}

/* Botones Personalizados */
.boton {
    height: 40px;
    width: 100%;
    color: white;
    font-size: 18px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.35s ease, background-color 0.35s ease,
        border-color 0.35s ease;
}

.boton:hover {
    border-color: var(--secondary-hover);
    background-color: var(--secondary-hover);
}

.boton:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(129, 129, 129, 0.5);
}

.boton:disabled {
    opacity: 0.5;
}

/* Botón Success */
.boton.success {
    background-color: var(--success);
    border-color: var(--success);
}

.boton.success:hover {
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}

.boton.success:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 141, 64, 0.5);
}

/* Botón Warning */
.boton.warning {
    color: #212529;
    background-color: var(--warning);
    border-color: var(--warning);
}

.boton.warning:hover {
    background-color: var(--warning-hover);
    border-color: var(--warning-hover);
}

.boton.warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 196, 0, 0.5);
}

/* Botón Primary */
.boton.primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.boton.primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.boton.primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 132, 255, 0.5);
}

/* Botón Danger */
.boton.danger {
    background-color: var(--danger);
    border-color: var(--danger);
}

.boton.danger:hover {
    background-color: var(--danger-hover);
    border-color: var(--danger-hover);
}

.boton.danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 42, 9, 0.5);
}

/* Overlay */
.overlay {
    background-color: rgba(15, 15, 15, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s ease, background-color 0.5s ease,
        opacity 0.5s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Modals Personalizados */
div.modal {
    width: 380px;
    height: 195px;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

div.modal.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

div.cabecera-modal {
    height: fit-content;
    line-height: 1;
    text-align: right;
}

div.cabecera-modal button.boton-cerrar-modal {
    color: #bdbdbd;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: hidden;
    transition: all 0.25s ease;
}

div.cabecera-modal button.boton-cerrar-modal:disabled {
    pointer-events: none;
    opacity: 0.5;
}

div.cabecera-modal button.boton-cerrar-modal:focus {
    outline: none;
}

div.cabecera-modal button.boton-cerrar-modal:hover {
    color: #a0a0a0;
}

div.cuerpo-modal {
    height: 100%;
    color: #757575;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pie-modal {
    height: fit-content;
    text-align: right;
}

div.pie-modal button.boton-eliminar,
div.pie-modal button.boton-cancelar {
    width: auto;
    height: 38px;
    padding: 0 10px;
    font-size: medium;
    line-height: 1.5;
}

div.pie-modal button.boton-eliminar {
    margin-right: 10px;
    color: red;
    background-color: white;
}

div.pie-modal button.boton-eliminar:hover {
    color: white;
    background-color: red;
}
