body {
    background-image: url("../img/background-join.jpg"); /* Photo by Ant Rozetsky on Unsplash: https://unsplash.com/photos/HXOllTSwrpM */
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.contenedor {
    margin-top: 50px;
    text-align: center;
}

.logo {
    font-size: 40px;
}

.logo .nombre {
    color: white;
    background: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(225, 225, 225, 0.4)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.logo .icono {
    color: var(--primary);
}

.formulario-join {
    width: 230px;
    margin: 22px auto;
    padding: 16px;
    border: 1px solid rgba(115, 0, 115, 0.85);
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 0.25rem;
}

.titulo-join {
    color: white;
    margin-bottom: 15px;
    font-size: medium;
    font-weight: 500;
    text-align: left;
}

.correo-join,
.usuario-join,
.contrasena-join {
    margin-bottom: 15px;
}

.confirmacion-join {
    margin-bottom: 30px;
}

.correo-join:valid,
.usuario-join:valid,
.contrasena-join:valid,
.confirmacion-join:valid {
    border: 1px solid rgba(0, 200, 0, 0.9);
}

.correo-join:valid:focus,
.usuario-join:valid:focus,
.contrasena-join:valid:focus,
.confirmacion-join:valid:focus {
    border: 1px solid rgba(0, 200, 0, 0.9);
    box-shadow: 0 0 0 0.2rem rgba(8, 235, 0, 0.35);
}

/* Botón Registro */
.boton-join {
    height: 50px;
    font-size: 20px;
    border-color: purple;
    background-color: purple;
}

.boton-join:hover {
    border-color: rgba(128, 0, 128, 0.8);
    background-color: rgba(128, 0, 128, 0.8);
}

.boton-join:focus {
    box-shadow: 0 0 0 0.2rem rgba(152, 47, 184, 0.5);
}

.notificaciones-join {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.link-iniciar-sesion {
    color: rgba(255, 255, 255, 0.75);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-iniciar-sesion:hover {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

.link-iniciar-sesion:focus {
    outline: none;
}
