/***** CUSTOM STYLES *****/

/***** Text *****/
.text-bold {
    font-weight: bold;
}

.text-light {
    font-weight: lighter;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

/* Font */
.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

/***** Text Color *****/
.text-transparent {
    color: transparent;
}

.text-red {
    color: var(--danger);
}

.text-yellow {
    color: var(--warning);
}

.text-green {
    color: var(--success);
}

.text-grey {
    color: grey;
}

.text-white {
    color: white;
}

/***** Width *****/
.w-content {
    width: fit-content;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.w-fifty {
    width: 50%;
}

/***** Height *****/
.h-content {
    height: fit-content;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.h-fifty {
    height: 50%;
}

/***** Background *****/
.bg-mark {
    background-color: blanchedalmond;
}

.bg-aqua {
    background-color: aquamarine;
}

.bg-edit {
    background-color: rgba(255, 217, 0, 0.05);
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: white;
}

.bg-happy-cup {
    background: url('../img/happy-cup.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

.bg-green-tea {
    background: url('../img/green-tea.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

/***** Border Color *****/
.bd-black {
    border: thin solid black;
}

.bd-grey {
    border: thin solid #dddddd;
}

.bd-green {
    border: thin solid green;
}

.bd-gold {
    border: thin solid gold;
}

.bd-edit {
    border: thin solid rgba(255, 217, 0, 0.85);
}

.bd-violet {
    border: thin solid blueviolet;
}

/* Border */
.bd-dashed {
    border-style: dashed;
}

.bd-radius {
    border-radius: .25rem;
}

/***** Transform *****/
.scale-one-five {
    transform: scale(1.5);
}

.scale-two {
    transform: scale(2);
}

/***** Display *****/
.d-none {
    display: none;
}

/* Visibility */
.v-visible {
    visibility: visible;
}

.v-hidden {
    visibility: hidden;
}

/***** Fix *****/
.fix-float {
    overflow: hidden;
}

.fix-clear {
    clear: both;
}